<h1>投稿内容の編集</h1>

<%= form_with model: @post, url: public_post_path(@post), method: :patch, local: true do |form| %>
  <div class="form-group">
    <label>First Memo</label>
    <%= form.text_area :first_memo, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <label>Second Memo</label>
    <%= form.text_area :second_memo, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <label>Third Memo</label>
    <%= form.text_area :third_memo, class: "form-control", rows: 3 %>
  </div>

  <div class="mt-3">
    <%= form.submit '更新する', class: "btn btn-primary" %>
  </div>
<% end %>