<div class="container">
  <div class="row mb-3">
    <h4>投稿一覧</h4>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6 mb-5">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-start align-items-center mb-3">
              <%= image_tag post.user.get_profile_image, class: "rounded-circle mr-3", width: 50, height: 50 %>
              <div>
                <span class="font-weight-bold"><%= post.user.name %></span><br>
                <span class="text-muted"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              </div>
            </div>

            <h5 class="card-title mb-3 text-left"><%= post.first_memo %></h5>

            <div class="d-flex justify-content-between align-items-center mb-3">
              <span class="mr-3"><%= post.comments.count %> コメント</span>

              <% if post.favorited_by?(current_user) %>
                <%= link_to public_post_favorites_path(post), method: :delete, class: "btn btn-outline-danger btn-sm" do %>
                  ♥<%= post.favorites.count %> いいね
                <% end %>
              <% else %>
                <%= link_to public_post_favorites_path(post), method: :post, class: "btn btn-outline-primary btn-sm" do %>
                  ♡<%= post.favorites.count %> いいね
                <% end %>
              <% end %>

              <%= link_to '詳細を見る', public_post_path(post), class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
