<div class="container">
  <div class="row mt-5">
    <h1>First Memo</h1>
  </div>

  <h5 class="mb-5">第一のメモです。<br>感銘を受けたこと、忘れたくないことなどを記載しましょう。</h5>

  <div class="row mt-5 justify-content-center">
    <div class="col-md-8">
      <%= form_with model: @post, url: public_posts_path, local: true, id: "postForm", class: "bg-light p-4 rounded" do |form| %>

        <!-- First Memo -->
        <h4>First Memo</h4>
        <%= form.text_area :first_memo, class: 'form-control w-100 mb-4', required: true %>

        <!-- 公開設定 -->
        <h4>公開設定</h4>
        <div class="d-flex">
          <div class="mr-4">
            <%= form.radio_button :first_post_status, true, id: "first_post_status_public" %>
            <label for="first_post_status_public">公開</label>
          </div>
          <div>
            <%= form.radio_button :first_post_status, false, id: "first_post_status_private" %>
            <label for="first_post_status_private">非公開</label>
          </div>
        </div>

        <!-- ボタン部分 -->
        <div class="d-flex justify-content-between mt-3 w-100">
          <%= form.submit "新規投稿", class: 'btn btn-secondary w-50 mr-2 text-wrap' %>
          <%= hidden_field_tag :next_step, false, id: "nextStepField" %>
          <%= button_tag '次に進む (second memo)', type: 'button', class: 'btn btn-primary w-50', id: "nextStepButton" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<!-- 次に進むボタンを押した際にフラグを変更し、フォームを送信 -->
<script>
  document.getElementById("nextStepButton").addEventListener("click", function() {
    const firstMemoField = document.querySelector("#post_first_memo");

    if (!firstMemoField.value.trim()) {
      alert("First Memoは必須です");
    } else {
      document.getElementById("nextStepField").value = true;
      document.getElementById("postForm").submit();
    }
  });
</script>
