<div class="container">
  <div class="row mt-5">
    <h1>Second Memo</h1>
  </div>
  <h3>抽象化を行い、次のメモへ進むための準備をしましょう。</h3>

  <div class="row mt-5 justify-content-center">
    <div class="col-12 text-center">
      <h3>First Memo</h3>
      <h3><%= @post.first_memo %></h3>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <%= form_with model: @post, url: second_memo_post_path(@post), method: :patch, local: true, id: "secondMemoForm", class: "bg-light p-4 rounded" do |form| %>
      <div class="col-12">
        <h4>Second Memo</h4>
        <%= form.text_area :second_memo, class: 'form-control w-100 mb-4', rows: 4 %>
      </div>

      <h4>公開設定</h4>
      <div class="d-flex">
        <div class="mr-4">
          <%= form.radio_button :second_post_status, true, id: "second_post_status_public" %>
          <label for="second_post_status_public">公開</label>
        </div>
        <div>
          <%= form.radio_button :second_post_status, false, id: "second_post_status_private" %>
          <label for="second_post_status_private">非公開</label>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3 w-100">
        <%= form.submit '投稿 (マイページ)', class: 'btn btn-secondary w-50 mr-2 text-wrap', style: "white-space: pre-wrap;" %>
        <%= hidden_field_tag :next_step, false, id: "nextStepField" %>
        <%= button_tag '次に進む (third memo)', type: 'button', class: 'btn btn-primary w-50', id: "nextStepButton", style: "white-space: pre-wrap;" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById("nextStepButton").addEventListener("click", function() {
    document.getElementById("nextStepField").value = true;
    document.getElementById("secondMemoForm").submit();
  });
</script>
