<div class="container">
  <div class="row mt-5">
    <h1 class="text-center">Third Memo</h1>
  </div><br>
  <h5>第三のメモです。<br>前画面ではfirst memoの内容を踏まえて、抽象化を行いました。<br>抽象化を行ったことで、気付けるアイディアが出てきます！<br>忘れないようにメモしましょう！<br></h5>

  <div class="row mt-5 justify-content-center">
    <div class="col-12 text-center">
      <h5>Second Memo</h5>
      <p><%= @post.second_memo %></p>
    </div>
  </div>
  
  
  
  <div class="row mt-5 justify-content-center">
    <%= form_with model: @post, url: public_post_path(@post), method: :patch, local: true, id: "thirdMemoForm" do |form| %>
      <div class="col-12">
        <h4 class="text-center">Third Memo</h4>
        <%= form.text_area :third_memo, class: 'form-control w-100 mb-4', rows: 4 %>
      </div>
      
      <div class="d-flex">
        <div class="mr-4">
          <%= form.radio_button :first_post_status, true, id: "first_post_status_public" %>
          <label for="first_post_status_public">公開</label>
        </div>
        <div>
          <%= form.radio_button :first_post_status, false, id: "first_post_status_private" %>
          <label for="first_post_status_private">非公開</label>
        </div>
      </div>

      <div class="col-12">
        <%= form.submit '完了', class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
  </div>
</div>