<div class="container">
  <h1 class="mb-5">いいね一覧</h1>

  <div class="d-flex justify-content-start mb-5">
    <%= link_to "いいねが多い順", user_favorites_path(sort: 'likes_desc'), class: "btn btn-primary mr-2" %>
    <%= link_to "いいねが少ない順", user_favorites_path(sort: 'likes_asc'), class: "btn btn-secondary" %>
  </div>

  <% if @favorite_posts.any? %>
    <div class="row">
      <% @favorite_posts.each do |post| %>
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="mr-3">
                  <%= image_tag post.user.get_profile_image, class: "rounded-circle", width: 50, height: 50 %>
                </div>
                <div>
                  <h4 class="mb-1"><%= link_to post.user.name, user_path(post.user) %></h4>
                  <p class="text-muted mb-1"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                </div>
              </div>

              <h4>タイトル</h4>
              <h4><%= link_to (post.title.present? ? post.title : '未記入です'), post_path(post) %></h4>

              <h4>First Memo</h4>
              <h4 class="card-title"><%= link_to post.first_memo, post_path(post) %></h4>

              <h4>Second Memo</h4>
              <% if post.second_memo.present? %>
                <h4 class="card-title"><%= link_to post.second_memo, post_path(post) %></h4>
              <% end %>

              <h4>Third Memo</h4>
              <% if post.third_memo.present? %>
                <h4 class="card-title"><%= link_to post.third_memo, post_path(post) %></h4>
              <% end %>

              <div class="mt-3">
                <span>♥<%= post.favorites.count %> いいね</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>いいねした投稿はありません。</h3>
  <% end %>

  <div class="row justify-content-center mt-4">
    <div class="col-auto">
      <h5><%= paginate @favorite_posts, class: 'pagination justify-content-center' %></h5>
    </div>
  </div>
</div>
