<div class="container">
  <h2>会員一覧</h2>

  <table class="table">
    <thead>
      <tr>
        <th>ユーザID</th>
        <th>名前</th>
        <th>投稿数</th>
        <th>フォロー数</th>
        <th>フォロワー数</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, admin_user_path(user) %></td> <!-- ここでリンクを追加 -->
          <td><%= user.posts.count %></td>
          <td><%= user.followings.count %></td>
          <td><%= user.followers.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
