<h1>いいねした投稿一覧</h1>

<div class="container">
  <% if @favorite_posts.any? %>
    <div class="row">
      <% @favorite_posts.each do |post| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="mr-3">
                  <%= image_tag post.user.get_profile_image, class: "rounded-circle", width: 50, height: 50 %>
                </div>
                <div>
                  <h5 class="mb-1"><%= link_to post.user.name, public_user_path(post.user) %></h5>
                  <p class="text-muted mb-1"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                </div>
              </div>

              <h5>・first memo</h5>
              <h5 class="card-title"><%= link_to post.first_memo, public_post_path(post) %></h5>

              <h5>・second memo</h5>
              <% if post.second_memo.present? %>
                <h5 class="card-title"><%= link_to post.second_memo, public_post_path(post) %></h5>
              <% end %>

              <h5>・third memo</h5>
              <% if post.third_memo.present? %>
                <h5 class="card-title"><%= link_to post.third_memo, public_post_path(post) %></h5>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %><br>
    <h5>まだいいねした投稿はありません。</h5>
  <% end %>
</div>
