<div class="row">
  <% @posts.each do |group_id, posts| %>
    <div class="col-md-5 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">メモグループ <%= group_id %></h5>

          <!-- 各メモを表示 -->
          <% posts.each do |post| %>
            <% if post.first_memo.present? %>
              <p class="card-text">1つ目のメモ: <%= post.first_memo %></p>
            <% end %>
            <% if post.second_memo.present? %>
              <p class="card-text">2つ目のメモ: <%= post.second_memo %></p>
            <% end %>
            <% if post.third_memo.present? %>
              <p class="card-text">3つ目のメモ: <%= post.third_memo %></p>
            <% end %>
          <% end %>

          <!-- その他の情報を表示 -->
          <div class="d-flex align-items-center">
            <div class="text-center">
              <%= image_tag @user.get_profile_image, class: "mr-3 rounded-circle" %>
              <div><%= @user.name %></div>
            </div>
            <div class="ml-3">
              <span class="mr-3"><%= posts.first.comments.count %> コメント</span>
              <span class="text-muted"><%= posts.first.created_at.strftime('%Y/%m/%d %H:%M') %></span>
            </div>
          </div>

          <%= link_to '詳細を見る', public_post_path(posts.first), class: "btn btn-primary mt-3" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
