<div class="container">
  <div class="row mb-3">
    <h4><%= @user.name %>さんのマイページ</h4>
  </div>
  <div class="row">
    <table>
      <tr>
        <td>
          <%= image_tag @user.get_profile_image %>
        </td>
      </tr>
      <tr>
        <td>
          ユーザ名: <%= @user.name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= @user.introduction %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to 'プロフィール編集', edit_public_user_path %>
        </td>
      </tr>
    </table>
  </div>

  <br>
  <div class="row">
    <h5><%= @user.name %>さんの投稿一覧</h5>
  </div>


  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">メモ内容</h5>
          <p class="card-text"><%= post.first_memo %></p>
          <!--プロフ画像とユーザ名、コメント数、投稿時間を以下に表示させること-->
          <%= link_to '詳細を見る', public_post_path(post), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>