<div class="container mt-2">
  <% if current_user == @user %>
    <h2>マイページ</h2><br>
  <% end %>

  <div class="row">
    <div class="col-md-6 offset-md-2">
      <div class="d-flex align-items-center mb-4">
        <div class="mr-5">
          <%= image_tag @user.get_profile_image, class: "rounded-circle", width: 100, height: 100 %>
        </div>

        <div>
          <h4><%= @user.name %></h4>
          <h5><%= simple_format(@user.introduction.present? ? @user.introduction : "よろしくお願いします。") %></h5>
          <div class="d-flex mb-2">
            <div class="mr-4">
              フォロー数: <%= link_to @user.followings.count, public_user_followings_path(@user) %>
            </div>
            <div>
              フォロワー数: <%= link_to @user.followers.count, public_user_followers_path(@user) %>
            </div>
          </div>

          <% if current_user == @user %>
            <div class="mt-1">
              <%= link_to 'プロフィール編集', edit_public_user_path, class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="mt-2">
        <p><%= @user.introduction %></p>
      </div>

      <% if current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", public_user_relationships_path(@user.id), method: :delete, class: "btn btn-info" %>
        <% else %>
          <%= link_to "フォローする", public_user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <h3><%= @user.name %> の投稿一覧</h3>

  <div class="row">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-start align-items-center mb-2">
                <%= image_tag post.user.get_profile_image, class: "rounded-circle mr-3", width: 50, height: 50 %>
                <div>
                  <span class="font-weight-bold"><%= post.user.name %></span><br>
                  <span class="text-muted"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                </div>
              </div>

              <div class="mt-1">
                <h5>タイトル</h5>
                <p><%= post.title.present? ? post.title : '未記入です' %></p>
              </div>

              <!-- First Memo と公開ステータス -->
              <div class="mt-1">
                <h5 class="card-title mb-3 text-left">First Memo</h5>
                <% if post.first_post_status || post.user == current_user %>
                  <p class="mb-4"><%= post.first_memo %></p>
                <% else %>
                  <p>このメモは非公開です。</p>
                <% end %>
                <%= button_tag post.first_post_status ? "公開" : "非公開", class: post.first_post_status ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm' %>
              </div>

              <!-- Second Memo と公開ステータス -->
              <% if post.second_memo.present? %>
                <div class="mt-2">
                  <h5 class="card-title mb-3 text-left">Second Memo</h5>
                  <% if post.second_post_status || post.user == current_user %>
                    <p class="mb-4"><%= post.second_memo %></p>
                  <% else %>
                    <p>このメモは非公開です。</p>
                  <% end %>
                  <%= button_tag post.second_post_status ? "公開" : "非公開", class: post.second_post_status ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm' %>
                </div>
              <% end %>

              <!-- Third Memo と公開ステータス -->
              <% if post.third_memo.present? %>
                <div class="mt-2">
                  <h5 class="card-title mb-3 text-left">Third Memo</h5>
                  <% if post.third_post_status || post.user == current_user %>
                    <p class="mb-4"><%= post.third_memo %></p>
                  <% else %>
                    <p>このメモは非公開です。</p>
                  <% end %>
                  <%= button_tag post.third_post_status ? "公開" : "非公開", class: post.third_post_status ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm' %>
                </div>
              <% end %>

              <div class="d-flex justify-content-between align-items-center mb-2">
                <span class="mr-3"><%= post.comments.count %> コメント</span>

                <% if post.favorited_by?(current_user) %>
                  <%= link_to public_post_favorites_path(post), method: :delete, class: "btn btn-outline-danger btn-sm" do %>
                    ♥<%= post.favorites.count %> いいね
                  <% end %>
                <% else %>
                  <%= link_to public_post_favorites_path(post), method: :post, class: "btn btn-outline-primary btn-sm" do %>
                    ♡<%= post.favorites.count %> いいね
                  <% end %>
                <% end %>

                <%= link_to '詳細を見る', public_post_path(post), class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% else %>
      <div class="col-12 mt-5 text-center">
        <h5>まだ投稿がありません。</h5>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center mt-2">
    <div class="col-auto">
      <h5><%= paginate @posts %></h5>
    </div>
  </div>
</div>
