<!DOCTYPE html>
<html>
  <head>
    <title>Change of Memories</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
        display: flex;
        flex-direction: column;
      }

      footer {
        margin-top: auto;
        text-align: center;
        padding: 1rem;
        background-color: #f8f9fa;
      }

      .container {
        flex: 1;
      }
    </style>
  </head>

  <body>
    <header>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <ul class="header-menu">
        <li>
          <h3><%= link_to "アバウト", about_path %></h3>
        </li>
        <% if user_signed_in? %>
          <li>
            <h3><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></h3>
          </li>
          <li>
            <h3><%= link_to "マイページ", public_user_path(current_user) %></h3>
          </li>
          <li>
            <h3><%= link_to "新規投稿", new_public_post_path %></h3>
          </li>
          <li>
            <h3><%= link_to "投稿一覧", public_posts_path %></h3>
          </li>
          <li>
            <h3><%= link_to "いいね一覧", public_user_favorites_path(current_user) %></h3>
          </li>

          <!--検索機能-->
          <div class="search_form">
            <%= form_with url: public_search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['User'], ['メモ']]) %>
              <%= f.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"],]) %>
              <%= f.submit "検索", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% elsif admin_signed_in? %>
          <li>
            <h3><%= link_to "ユーザ一覧", admin_users_path %></h3>
          </li>
          <li>
            <h3><%= link_to "コメント一覧", admin_comments_path %></h3>
          </li>
          <li>
            <h3><%= link_to "投稿一覧", admin_posts_path %></h3>
          </li>
          <li>
            <h3><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></h3>
          </li>
        <% else %>
          <li>
            <h3><%= link_to "Change of Memories", root_path %></h3>
          </li>
          <li>
            <h3><%= link_to "新規登録", new_user_registration_path %></h3>
          </li>
          <li>
            <h3><%= link_to "ログイン", new_user_session_path %></h3>
          </li>
        <% end %>
      </ul>
    </header>

    <%= yield %>

    <footer>
      <h5>&copy; okkey</h5>
    </footer>
  </body>
</html>
